@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
    background-color:#0f0e13;
    background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.gradient-bg-services {
    background-color:#0f0e13;
    background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
    background-color: #0f0e13;
    background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
    background-color: #0f0e13;
    background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
    background: rgb(39, 51, 89, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
/*.eth-payment {
    background-color:#0f0e13;
    background-image: 
    radial-gradient(at 88% 35%, hsla(332,81%,65%,1) 0, transparent 20%), 
    radial-gradient(at 31% 91%, hsla(159,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(256,91%,65%,1) 0, transparent 29%), 
    radial-gradient(at 53% 75%, hsla(304,94%,68%,1) 0, transparent 45%),
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}*/

.eth-modal {
    background-color: #0f0e13;
    background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%),
    radial-gradient(at 0% 60%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 10%, hsla(225,39%,25%,1) 0, transparent 50%);
}
.eth-card {
    background-color:#0f0e13;
    background-image: 
    /*radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
    radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
    radial-gradient(at 88% 35%, hsla(332,81%,65%,1) 0, transparent 20%), 
    radial-gradient(at 31% 91%, hsla(159,61%,61%,1) 0, transparent 52%), 
    radial-gradient(at 27% 71%, hsla(256,91%,65%,1) 0, transparent 29%), 
    radial-gradient(at 74% 89%, hsla(300,48%,65%,1) 0, transparent 51%), 
    radial-gradient(at 53% 75%, hsla(304,94%,68%,1) 0, transparent 45%);*/
    radial-gradient(at 0% 60%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 27% 71%, hsla(256,91%,65%,1) 0, transparent 29%), 
    radial-gradient(at 74% 89%, hsla(300,48%,65%,1) 0, transparent 51%),
    radial-gradient(at 0% 80%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 50%, hsla(339,49%,30%,1) 0, transparent 50%), 
    radial-gradient(at 53% 75%, hsla(304,94%,68%,1) 0, transparent 45%),
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.text-gradient {
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}


.pagination-container {
    display: flex;
    list-style-type: none;
}
.pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
}
.pagination-item.dots:hover {
    background-color: transparent;
    cursor: default;
}
.dots:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.dots.selected {
    background-color: rgba(0, 0, 0, 0.08);
}


#logo-container svg {
    width: 90px;
    height: auto;
}
#logo-container {
    text-align: center;
}
.btnWalletmd {
    display: none;
}
@media only screen and (max-width: 768px) {
  #logo-container svg {
        display: none;
    }  

  .btnWallet {
    display: none;
  }
  .btnWalletmd {
    display: block;
  }
}

.dropdown-swicth {
    padding-top: 50px;
}

.scrollmodal {
    height: 22.5rem; 
    overflow-y: scroll;
}

.networkbtn:hover{
    background-color: #37c7da;
    color: black;
    cursor: pointer;
}
@tailwind base;
@tailwind components;
@tailwind utilities;